@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.result{
    color:white;
    font-family:'yg-jalnan';
    text-align:center;
}


.result_title{
    color:white;
    font-family:'yg-jalnan';
    font-size:40px;
    text-align:center;
}

.result_name{
    text-align:center;
    color: #3caffd;
    font-family:'yg-jalnan';
    font-size:40px;
}

th{

    padding-bottom: 40px;
}


body{
    background: #1F1F1F url('../bg3.png') no-repeat;
    background-size:cover;
    margin-top: 40px;
}
