@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
    font-family: 'TTTogether';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
    background: #1F1F1F url("../pitcherbg.png") no-repeat;
    background-size:cover;
    margin-top: 40px;
}

/*title 가운데 타이틀*/
th{
    padding-bottom: 40px;
}

.result_name{
    text-align:center;
    color: #fc04a8;
        font-family: 'yg-jalnan';
    font-weight: bolder;
    font-size:55px;
    text-shadow: 0 1px 3px #1F1F1F;

}

.result_title{
    color:white;
        font-family: 'yg-jalnan';
    font-weight: bolder;
    font-size:50px;
    text-align:center;
    text-shadow: 0 1px 3px #1F1F1F;

}

/*result 가운데 결과*/
.result{
    margin-top:60px;
    font-family: 'TTTogether';
    color: #ffffff;
    text-align:center;
    text-shadow: 0 1px 10px #000000;
}

.result_data{
    font-size:100px;
    color: #ffffff
}


/*환산식으로 변환한 값*/
.transformed{
    margin-top:20px;
}

.logo_1{font-family:'yg-jalnan';
    color: #fc04a8;
        text-align:center;
    text-shadow: 0 1px 3px #1F1F1F;}
.logo_2{font-family:'yg-jalnan';
    color: #3cadfd;
        text-align:center;
    text-shadow: 0 1px 3px #1F1F1F;}


.transformed_data{
    color:white;
        text-align:center;
    text-shadow: 0 1px 3px #1F1F1F;
    font-family:'Noto Sans KR';

}

.transformed_data_color{
    font-family:'yg-jalnan';
    color: #fc04a8;
    text-align:center;
    text-shadow: 0 1px 3px #1F1F1F;
}

/*war explain 왼쪽 하단 */
.war_explain_title{
    margin-top:100px;
    text-align: left;
    color: #9b9b9b;
    padding-left:30px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    font-size:13px;
}

.war_explain{

    text-align:left;
    color: #9b9b9b;
     font-family:'Noto Sans KR';
    padding-left:30px;
    font-size:10px;
}





/*bouncing effecct*/

h1 {
  height: 100px;
}

h1 span {
    font-family: 'TTTogether';
    color: #ffffff;
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce .3s ease infinite alternate;
  font-size: 80px;
     text-shadow: 0 1px 10px #000000;
}

h1 span:nth-child(2) { animation-delay: .1s; }
h1 span:nth-child(3) { animation-delay: .2s; }
h1 span:nth-child(4) { animation-delay: .3s; }
h1 span:nth-child(5) { animation-delay: .4s; }
h1 span:nth-child(6) { animation-delay: .5s; }
h1 span:nth-child(7) { animation-delay: .6s; }
h1 span:nth-child(8) { animation-delay: .7s; }

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #424242,
                 0 2px 0 #424242,
                 0 3px 0 #424242,
                 0 4px 0 #424242,
                 0 5px 0 #424242,
                 0 6px 0 #424242,
                 0 7px 0 #424242,
                 0 8px 0 #424242,
                 0 9px 0 #1a1a1a,
                 0 50px 25px rgba(0, 0, 0, .2);
  }
}