<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>


    <meta charset="UTF-8">
    <title>92</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<body>

    <div id='btn_group', class="container">
      <div class="btn", id="btn1">
          <span>승률 예측</span>
          <div class="dot"></div>
      </div>
      <div class="btn", id="btn2">
          <span>WAR 예측</span>
          <div class="dot"></div>

    </div>
    <h1>&#x261D; Choose Winning Pred or WAR Pred &#x261D;</h1>

</body>
</html>

